


IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto }

body
{
    background-color:#b0c4de;
    background-image:url('../images/back.jpg');
    background-repeat:repeat-x;
}


h1
{
color:orange;
text-align:center;
}

h2 {

	font-family: cursive;
	font-style: normal;
	text-align: center;
	text-indent: 0ex;
}

p
{
font-family:"Times New Roman";
font-size:20px;
}

ol {
    list-style: decimal;
    margin: 10;
    padding: 10;
    text-align: left;
}

ul {
    list-style: circle;
    margin: 10;
    padding: 10;
    text-align: left;
}

table 
{
width:100%;
}

td
{
text-align:right;
}

